<!DOCTYPE html>
<html lang="en">
<head>
    <title>Conference Schedular</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/homepageusers.css">
</head>
<body>

<header>
    <nav class="navbar transparent navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li><a href="../contacts.html">Contacts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/register"><span class="glyphicon glyphicon-user"></span>{username}</a></li>
                <li><a href="../home.html"><span class="glyphicon glyphicon-log-in"></span>Log out</a></li>
            </ul>
        </div>
    </nav>
</header>




<div class="row">
        <div class="col-md-10 mx-auto">
            <h3 class="heading">My Conferences</h3>
            <div>
                <form action="/action_page.php" method="post">
                    <table class="table table-hover" style="background-color: white; opacity: 0.8;">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Address</th>
                            <th>Attendees</th>



                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href=""> Marketing Fundamentals</a></td>
                            <td>11-07-2018</td>
                            <td>ul. Tintyava</td>
                            <td>21</td>
                            <td>
                                <button type="submit" class="btn btn-default"><a href="../conferences/edit.html">Edit</a></button>
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td><a href=""> Digital Marketing</a></td>
                            <td>12-07-2018</td>
                            <td>ul. Tintyava</td>
                            <td>7</td>
                            <td>
                                <button type="submit" class="btn btn-default"><a href="../conferences/edit.html">Edit</a></button>
                            </td>

                        </tr>

                        <tr>
                            <td>3</td>
                            <td><a href=""> Programming Fundamentals</a></td>
                            <td>13-07-2018</td>
                            <td>ul. Tintyava</td>
                            <td>10</td>
                            <td>
                            <button type="submit" class="btn btn-default"><a href="../conferences/edit.html">Edit</a></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="../conferences/create.html">Create</a>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="../conferences/all.html">Events</a>


        </div>
    </div>

<div class="row">
    <div class="col-md-10 mx-auto">
        <h3 class="heading">Conferences to Attend</h3>
        <div>
            <form action="/action_page.php" method="post">
                <table class="table table-hover" style="background-color: white; opacity: 0.8;">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Session</th>
                        <th>Speaker</th>
                        <th>Hall</th>
                        <th>Address</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href=""> Programming Fundamentals</a></td>
                        <td>14:00 PM -> 16:00 PM</td>
                        <td>Ivailo Kenov</td>
                        <td>Code Ground</td>
                        <td>ul. Tintyava 21</td>


                    </tr>

                    <tr>
                        <td>2</td>
                        <td><a href=""> Digital Marketing</a></td>
                        <td>14:00 PM -> 16:00 PM</td>
                        <td>Ivailo Kenov</td>
                        <td>Inspiration</td>
                        <td>ul. Tintyava 21</td>


                    </tr>

                    <tr>
                        <td>3</td>
                        <td><a href=""> Marketing Fundamentals</a></td>
                        <td>14:00 PM -> 16:00 PM</td>
                        <td>Alen Paunov</td>
                        <td>Inspiration</td>
                        <td>ul. Tintyava 21</td>



                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

</body>


</html>
