<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>

<header>
    <nav class="navbar transparent navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/contacts">Contacts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/register"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class = "text-center">
    <h1>WELCOME</h1>

    <p class = "info">At Real Time Conference Scheduler, we believe that everyone has the right to make his own conference. <br>
        We are offering you the opportunity to choose where and when will your conference be.<br>
        We're excited to help you on your journey!</p>
</div>
<div id ="image">
    <img src="/jpg/grouphoto.jpg" width="650" height=auto>
</div>


</body>


</html>
