<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/contacts.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>

<header>
    <nav class="navbar transparent navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/register"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="form-table">
    <form action="#" class="form-class">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="First name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Last name..">

    <label for="lname">Email</label>
    <input type="text" id="email" name="email" placeholder="Enter email..">

    <label for="subject">Message</label>
    <textarea id="subject" name="subject" placeholder="Enter your message.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
    <img src="/jpg/map.png" alt="map" width="500" height="400">
</div>

</body>


</html>
