<!DOCTYPE html>
<html lang="en">
<head>
    <title>Conference Schedular</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>

<header>
    <nav class="navbar transparent navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/register"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
            </ul>
        </div>
    </nav>
</header>


<div id="banner" class="container">

    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
                <strong>Your Real Time Conference Scheduler</strong>
            </h1>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto">
            <p class="text-faded mb-5">
                Set your conference up in no time, customize it and create an incredible
                experience for your attendees
            </p>
            <br>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/conferences/all">Events</a>
        </div>
    </div>
</div>


</body>


</html>
