<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

</head>
<body>

<header>
<nav class="navbar transparent navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
</header>

<div class="form-table"> 
<form class ="form-edit" method="post">
        <div>
          <label for="name">Username:</label> <input type="text" id="name" name="user_name">
        </div>
        <div>
          <label for="name">Password:</label><input type="Password" id="Password" name="user_name">
        </div>
        <div>
        <a href="https://www.facebook.com/" class="button">Login</a>

        <h5><a href="login.html" style="color: grey"> Forgot password?</a></h5>
        </div>
</form>
</div>

<!--<footer class="container-fluid text-center">-->
    <!--<p>Footer Text</p>-->
<!--</footer>-->

</body>


</html>
