body, html {
    /*background-image: url("/jpg/header.jpg");*/
    background-image: url("../jpg/header.jpg");

    height: 100%;

    background-size: cover;

}

.navbar.transparent.navbar-inverse {
    background: rgba(0,0,0,0.4);
}

.heading{
    padding-top: 100px;
}

.table-responsive{
    background-color: white;

}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 5px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 30px; /* button size */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 20px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: green;
}

.form-table{
  padding-top: 150px; /* space between var bar and start of the form; */
  border-radius: 1px;
  margin-left: 100px;
  display: flex;
}

img{
  padding-top: 70px;
  margin-left: 150px;
}

.form-class{
  width: 700px;
  /*width: 40%;*/
}

label{
  color: silver;
}

