body, html {
    background-image: url("../jpg/header.jpg");

    height: 100%;

    background-size: cover;

    background-position: center center;
    background-attachment: fixed;

}

.navbar.transparent.navbar-inverse {
    background: rgba(0,0,0,0.4);
}

.heading{
    padding-top: 100px;
}


