form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  height: 330px; /* added to control the bottom line and match the space between the button and the border of the form;
  /* To see the outline of the form */
  padding: 2.5em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 2em; /* space between white boxes; */
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  color: white;
  text-align: left;
}

h5{
  color: white;
  width: 200px;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid silver;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: black;
}

/*.button {
   To position the buttons to the same position of the text fields 
  padding-left: 70px; /* same size as the label elements */
  /*display: inline-block;
  /*color: black;
}
*/
.button {
    background-color: white;
    color: black;
    padding: 15px 32px;
    display: inline-block;
    margin: 0px 100px;
    border-radius: 20px;
    border: 2px solid silver;
    font: 0.7em sans-serif;
}

button {
   /*This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .0em;
}